<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
Bienvenue sur la page de garde de la pizzeria

<ion-card *ngIf="platdujour">
    <ion-card-header >
      <img src="">
      <ion-card-title> {{platdujour.title}} </ion-card-title>
      <ion-card-subtitle> {{platdujour.prix}} </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
     Ingrédient

    </ion-card-content>
</ion-card>

  
  </div>
</ion-content>
<ion-footer no-shadow>
  <ion-toolbar position="bottom">
      <ion-buttons>
          <ion-button href="https://www.google.fr/maps/place/8+Rue+du+Mont+Blanc,+74000+Annecy/@45.9125968,6.1312439,17z/data=!3m1!4b1!4m5!3m4!1s0x478b8f8d65c72b05:0x81f90e731be54962!8m2!3d45.9125968!4d6.1334326"><ion-icon ios="ios-pin" md="md-pin"></ion-icon></ion-button>
        </ion-buttons>
        
    <ion-button expand="block" color="medium"  href="/commander">Carte</ion-button>
  </ion-toolbar>
</ion-footer>





