<ion-header>
  <ion-toolbar>
    <ion-title>
      Pizza chez Chitelo
    </ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/"><ion-icon slot="icon-only" name="arrow-round-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/panier"><ion-icon slot="icon-only" ios="ios-cart" md="md-cart"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    Carte des pizzas clickable
  </div>
</ion-content>
<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <ion-button expand="block" color="medium" href="/panier">Commander</ion-button>
  </ion-toolbar>
</ion-footer>

