<ion-app>
    <ion-split-pane>
      <ion-menu>
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
            <p><ion-button href="/seconnecter"><ion-icon md="md-person"></ion-icon> Se connecter</ion-button></p>
            <p><ion-button href="/Sinscrire"><ion-icon md="md-person-add"></ion-icon> S'inscrire</ion-button></p>
        </ion-content>
      </ion-menu>
      <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
  </ion-app>